h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3em;
}
#wrapper {
    display: flex;
    flex-flow: column wrap;
    border: 5px inset black;
    background-color: burlywood;
}

#hero {
    width: 200px;
    border: 3px outset black;
}

#header {
    text-align: center;
    margin: 75px auto;
}

#images {
    padding-top: 65px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 650px;
    align-content: center;
    align-items: center;
    margin-top: 100px;
    
}
img{
    border: 5px ridge black;
}



@media (min-width: 788px) {
    #flex-container {
        flex-flow: row;
        background-color: rgb(134, 134, 64);
    }
    img {
        border: 5px ridge black;
        width: 26%;
    }
    #images {
        height: 475px;
    }
}

